body, html {
	margin: 0;
	padding: 0;
}
body {
	background: #EDD072;
}

#resizer {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	position: fixed;
		top: 1em;
		left: 1em;
	padding: 1em;
}
#resizer input {
	display: block;
}

/** 
 * D3 
 ********/
circle {
  fill: #FFF;
  fill-opacity: .25;
  stroke: #999999;
  stroke-width: 1px;
}

.leaf circle {
  fill-opacity: 1;
}

.yes circle, .no circle, .uh circle {
	stroke: #78614E	
}

.yes circle {
	fill: #ED744C;
}
.yes text{
	stroke: #FFF;

}

.no circle {
	fill: #769AA8;
}
.no text {
	stroke: #A2CBDB;
}
.uh circle {
	stroke: #666;
	fill: #444;
}
.uh text {
	stroke: #888;
}

text {
  font: 10px sans-serif;
}

#toggleData {
	background: rgba(255, 255, 255, 1.0);
	border-radius: 10px;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}

#currentState {
	text-align: center;
	font-size: 45px;
}